<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slu.mapper.MemberMapper">

	<insert id="insertMember">
		insert into tbl_member (userid,email) values
		(#{userid}, #{email})
	</insert>

	<select id="readMember" resultType="com.slu.domain.MemberVO">
		select
		*
		from
		tbl_member
		where
		userid = #{userid}
	</select>

	<select id="readWithPWD" resultType="com.slu.domain.MemberVO">
		select
		*
		from
		tbl_member
		where
		userid = #{userid} and userpwd = #{userpwd}
	</select>

</mapper>