<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slu.mappers.MemberMapper">

	<update id="updateMember">
		update tbl_member
		set userpwd = #{usernpwd}
		where userid = #{userid}
	</update>

	<insert id="insertMember">
		insert into tbl_member
		(userid,userpwd,email,state,username) values
		(#{userid}, #{userpwd},
		#{email}, #{state}, #{username})
	</insert>

	<select id="readMember" resultType="com.slu.domain.MemberVO">
		select
		userid,userpwd,email,state,username
		from
		tbl_member
		where
		userid =
		#{userid}
	</select>

	<select id="readWithPWD" resultType="com.slu.domain.MemberVO">
		select
		*
		from
		tbl_member
		where
		userid = #{userid} and userpwd = #{userpwd}
	</select>

</mapper>